*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: rgb(62, 62, 62); */
  .section-search-bar {
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 30px auto;
  }

  /* .section-temp {
    display: none;
  }
  .weather-table {
    display: none;
  } */

  .section-temp {
    background-image: url("images/day.jpg"), url("images/night.jpg");
    min-height: 200px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .weather-table {
    align-items: center;
    min-width: 500px;
    height: auto;
    margin: 30px auto;
    border: 1px solid black;
    tbody {
      width: 100%;
    }
  }

  /* .section-search-bar {
    #btn-search.active {
      display: block;
    }
    .section-temp {
      background-image: url("images/day.jpg"), url("images/night.jpg");
      min-height: 200px;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
    .weather-table {
      align-items: center;
      min-width: 500px;
      height: auto;
      margin: 30px auto;
      border: 1px solid black;
      tbody {
        width: 100%;
      }
    }
  } */
}